<section class="cards-grid">
   <div class="container">
      <h2 class="visually-hidden">List of recipes</h2>
      <ul>
<!-- Карточка для генерації сітки з беккенду -->
<li>
   <img src="#" alt="image">
   <button type="button"></button>
   <button type="button"></button>
   <h3>Lorem ipsum</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptatum necessitatibus soluta odio minus cumque?</p>
   <div>
      <p>4.5</p>
      <ul>
        <li>
            <svg width="18" height="18">
                <use href="../img/icons.svg#star"></use>
            </svg>
        </li>
        <li>
            <svg width="18" height="18">
                <use href="../img/icons.svg#star"></use>
            </svg>
        </li>
        <li>
            <svg width="18" height="18">
                <use href="../img/icons.svg#star"></use>
            </svg>
        </li>
        <li>
            <svg width="18" height="18">
                <use href="../img/icons.svg#star"></use>
            </svg>
        </li>
        <li>
            <svg width="18" height="18">
                <use href="../img/icons.svg#star"></use>
            </svg>
        </li>
      </ul>
   <button type="button"></button>
   </div>
</li>
<!---->
      </ul>
   </div>
</section>