<section class="section categories">
  <h2 class="visually-hidden">Categoties section</h2>
  <div class="categories-container">
    <button
      class="categories-btn all-categories-active btn-all-js"
      type="button"
    >
      All categories
    </button>
    <ul class="button-container scroll-container categories-list">
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Beef</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Breakfast</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Chicken</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Dessert</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Goat</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Lamb</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Miscellaneous</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Pasta</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Pork</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Seafood</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Side</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Starter</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Vegan</button>
      </li>
      <li class="categories-btn-dishes">
        <button class="btn-dishes">Vegetarian</button>
      </li>
    </ul>
  </div>
</section>
