<header class="header">
  <div class="container header-container">
    <div class="menu-desc">
      <nav class="page-nav">
        <ul class="menu list">
          <li class="menu-item">
            <a class="menu-link link-home current" href="./index.html">Home</a>
          </li>
          <li class="menu-item">
            <a class="menu-link link-fav" href="./favorites-page.html"
              >Favorites</a
            >
          </li>
        </ul>
      </nav>
      <a class="logo-link" href="./index.html" aria-label="logotype">
        <span class="logo-begin">tasty</span
        ><span class="logo-end">treats.</span>
      </a>
      <div class="btn-order-desk">
        <button class="order-btn" type="button" aria-label="basket">
          <svg class="order-icon" width="24px" height="24px">
            <use href="./img/icons.svg#cart"></use>
          </svg>
        </button>
        <label class="switch-desk">
          <input
            class="switch__input switch__input-desk"
            aria-label="day/night theme"
            type="checkbox"
          />
          <span class="switch__slider"> </span>
        </label>
      </div>
    </div>

    <div class="mobile-icons">
      <div class="logo-link-mob-container">
        <a class="logo-link-mob" aria-label="logotype" href="./index.html">
          <span class="logo-begin-mob">tasty</span
          ><span class="logo-end-mob">treats.</span>
        </a>
      </div>

      <div class="mob-btn">
        <button
          class="order-btn-mob order-btn"
          type="button"
          aria-label="basket"
        >
          <svg class="order-icon" width="24px" height="24px">
            <use href="./img/icons.svg#cart"></use>
          </svg>
        </button>
        <button class="burger-btn" type="button" aria-label="burger menu">
          <svg class="burger" width="32px" height="32px">
            <use href="./img/icons.svg#burger-menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="mobile-menu is-hidden">
    <button
      class="mob-menu-close-btn"
      type="button"
      aria-label="close menu button"
    >
      <svg class="mobile-menu-close-icon" width="32px" height="32px">
        <use href="./img/icons.svg#x"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a
            class="mob-menu-link mob-menu-link-home active-mob-nav"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="mob-menu-item">
          <a
            class="mob-menu-link mob-menu-link-fav"
            href="./favorites-page.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>
    <label class="label-check">
      <span class="switch-mob">
        <input
          class="switch__input switch__input__mob"
          type="checkbox"
          aria-label="day/night theme"
        />
        <span class="switch__slider"> </span>
      </span>
    </label>
  </div>
</header>
