<section class="section-hero">
    <div class="container">
        <div class="hero-left">
            <h1 class="hero-title">
                Learn to Cook
                <span class="hero-title-action">Tasty Treats'
                </span>
                Customizable Masterclass
            </h1>
            <p class="hero-desc">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video
                Guides.
            </p>
            <button class="btn hero-btn" type="button">Order now</button>
        </div>
        <div class="hero-rigth">

            <!-- Slider main container -->
            <div class="swiper js-hero-slider">
                <!-- Additional required wrapper -->
                <div class="hero-swiper-wrapper">
                    <!-- Slides -->

                    <div class="hero-swiper-slide">

                    </div>

                    ...
                </div>
                <!-- If we need pagination -->
                <div class="hero-swiper-pagination"></div>
                <!-- If we need scrollbar -->
                <div class="hero-swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</section>