<section class="hero">
    <div class="container">
        <div class="hero-left">
            <h1 class="hero-title">
                Learn to Cook
                <span class="hero-title-action">Tasty Treats'
                </span>
                Customizable Masterclass
            </h1>
            <p class="hero-desc">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video
                Guides.
            </p>
            <button class="btn hero-btn">Order now</button>
        </div>
        <div class="hero-rigth">

            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="hero-swiper-wrapper">
                    <!-- Slides -->
                    <div class="hero-swiper-slide">
                        <div class="chef">
                            <img class="chef-image" src="../img/chief1.png" alt="">
                        </div>
                        <div class="hero-preview">
                            <img class="preview-image" src="../img/preview1.png" alt="">
                            <h2 class="hero-swiper-title">Grilled, smoky, delicious barbecue</h2>
                            <p class="hero-swiper-desc"> Spanish</p>
                        </div>
                        <div class="hero-dish">
                            <img class="dish-image" src="../img/dish1.png" alt="">
                        </div>
                    </div>

                    ...
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>