<!DOCTYPE html>
<html lang="en">
  <body>
    <head></head>
    <main>
      <div class="modal-backdrop backdrop">
        <div class="modal-wrap">
          <div class="modal-recipe-card">
            <button type="button" class="modal-btn-close">
              <!-- <svg class="modal-button-icon"></svg> -->
            </button>
            <div class="modal-card-markup">
              <h1 class="modal-recipe-name">the name of the recipe</h1>
              <iframe class="iframe-video"></iframe>
              <div class="modal-info">
                <ul class="modal-hashtags">
                  <li class="modal-hashtag-item">#Sweet</li>
                  <li class="modal-hashtag-item">#Desert</li>
                </ul>
                <div class="modal-card-stars">
                  <p class="modal-rating">4.0</p>
                  <div class="modal-stars">
                    <!-- <svg class="card-raiting-icon"></svg>
                    <svg class="card-raiting-icon"></svg>
                    <svg class="card-raiting-icon"></svg>
                    <svg class="card-raiting-icon"></svg>
                    <svg class="card-raiting-icon"></svg> -->
                  </div>
                  <p class="modal-card-time">27min</p>
                </div>
                <ul class="modal-ingredients-list">
                  <li class="modal-ingredient">
                    Banana
                    <span class="modal-ing-measure">1 large</span>
                  </li>
                  <li class="modal-ingredient">
                    Eggs
                    <span class="modal-ing-measure">2</span>
                  </li>
                </ul>
                <!-- <ul class="modal-hashtags">
                  <li class="modal-hashtag-item">#Sweet</li>
                  <li class="modal-hashtag-item">#Desert</li>
                </ul> -->

                <p class="modal-recipe-instructions">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Magnam in, quae consequuntur fuga debitis maxime voluptatem
                  repudiandae vero tempora, commodi harum ipsa! Velit
                  consequatur id sit, recusandae molestias quibusdam odio!
                </p>
              </div>
              <div class="modal-button">
                <button class="modal-add-favorite btn">Add to favorite</button>
                <button class="modal-give-rating btn">Give a rating</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
