<div class="modal-overlay visually-hidden modal-rating-js">
  <div class="modal-container modal-rating-form">
    <button class="close-rating modal-close-btn">
      <svg class="close-rating-svg modal-close-svg">
        <use href="./img/icons.svg#x"></use>
      </svg>
    </button>

    <p class="rating-heading">Rating</p>
    <div class="rating-amount">
      <span class="rating-result">0,0</span>
      <div class="rating-stars-container">
        <i class="rating-star">
          <svg class="rating-star-svg" data-rating="1">
            <use href="./img/icons.svg#star" width="24" height="24"></use>
          </svg>
        </i>
        <i class="rating-star">
          <svg class="rating-star-svg" data-rating="2">
            <use href="./img/icons.svg#star" width="24" height="24"></use>
          </svg>
        </i>
        <i class="rating-star">
          <svg class="rating-star-svg" data-rating="3">
            <use href="./img/icons.svg#star" width="24" height="24"></use>
          </svg>
        </i>
        <i class="rating-star">
          <svg class="rating-star-svg" data-rating="4">
            <use href="./img/icons.svg#star" width="24" height="24"></use>
          </svg>
        </i>
        <i class="rating-star">
          <svg class="rating-star-svg" data-rating="5">
            <use href="./img/icons.svg#star" width="24" height="24"></use>
          </svg>
        </i>
      </div>
    </div>

    <input
      type="email"
      name="user_email"
      class="rating-form-input"
      placeholder="Enter email"
      required
      pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
    />
    <button type="submit" class="rating-send btn">Send</button>
  </div>
</div>
