<section class="modal-overlay visually-hidden">
  <div class="modal-new-order modal-container">
    <button type="button" class="modal-close-btn new-order-btn">
      <svg class="modal-close-svg">
        <use href="./img/icons.svg#x"></use>
      </svg>
    </button>
    <h3 class="modal-title">ORDER NOW</h3>

    <form class="modal-form form form-js" name="modal_form">
      <div class="form-wrapper">
        <div class="input-wrapper">
          <label class="form-label" for="modal_name">Name</label>

          <input
            class="form-field"
            type="text"
            name="modal_name"
            id="modal_name"
            placeholder="John"
            pattern="[A-Za-z]{3,50}"
            required
          />
        </div>
        <div class="input-wrapper">
          <label class="form-label" for="modal_phone">Phone number</label>

          <input
            class="form-field"
            type="tel"
            name="modal_phone"
            id="modal_phone"
            placeholder="+380"
            pattern="^\+380\d{9}$"
            
            required
          />
        </div>
        <div class="input-wrapper">
          <label class="form-label" for="modal_email">Email</label>

          <input
            class="form-field"
            type="email"
            name="modal_email"
            id="modal_email"
            placeholder="email@gmail.com"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            required
          />
        </div>
        <div class="input-wrapper">
          <label class="form-label" for="modal_comment">Comment</label>
          <textarea
            
            class="form-field form-field-comment"
            name="modal_comment"
            id="modal_comment"
          >
          </textarea>
        </div>
      </div>

      <button class="form-btn btn" type="submit">Send</button>
    </form>
  </div>
</section>
