<div class="modal-backdrop backdrop-modal">
  <div class="modal-wrap">
    <div class="modal-recipe-card">
      <button class="modal-btn-close">
        <svg class="modal-button-icon">
          <use href="./img/icons.svg#x" width="20" height="20"></use>
        </svg>
      </button>
      <div class="modal-card-markup">
        <iframe src="" class="iframe-video"></iframe>
        <h2 class="modal-recipe-name">the name of the recipe</h2>

        <div class="modal-info">
          <!-- <ul class="modal-hashtags">
            <li class="modal-hashtag-item">#Sweet</li>
            <li class="modal-hashtag-item">#Desert</li>
          </ul> -->
          <div class="modal-card-stars">
            <p class="modal-stars-rating">4.0</p>
            <div class="modal-stars">
              <div class="modal-stars-container">
                <svg class="card-stars-icon" data-rating="1">
                  <use href="./img/icons.svg#star" width="14" height="13"></use>
                </svg>
              </div>
              <div class="modal-stars-container">
                <svg class="card-stars-icon" data-rating="2">
                  <use href="./img/icons.svg#star" width="14" height="13"></use>
                </svg>
              </div>
              <div class="modal-stars-container">
                <svg class="card-stars-icon" data-rating="3">
                  <use href="./img/icons.svg#star" width="14" height="13"></use>
                </svg>
              </div>
              <div class="modal-stars-container">
                <svg class="card-stars-icon" data-rating="4">
                  <use href="./img/icons.svg#star" width="14" height="13"></use>
                </svg>
              </div>
              <div class="modal-stars-container">
                <svg class="card-stars-icon" data-rating="5">
                  <use href="./img/icons.svg#star" width="14" height="13"></use>
                </svg>
              </div>
            </div>
            <p class="modal-card-time">27min</p>
          </div>
          <ul class="modal-ingredients-list">
            <li class="modal-ingredient">
              Banana
              <span class="modal-ing-measure">1 large</span>
            </li>
            <li class="modal-ingredient">
              Eggs
              <span class="modal-ing-measure">2</span>
            </li>
          </ul>
          <ul class="modal-hashtags">
            <li class="modal-hashtag-item">#Sweet</li>
            <li class="modal-hashtag-item">#Desert</li>
          </ul>

          <p class="modal-recipe-instructions">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam in,
            quae consequuntur fuga debitis maxime voluptatem repudiandae vero
            tempora, commodi harum ipsa! Velit consequatur id sit, recusandae
            molestias quibusdam odio!
          </p>
        </div>
        <div class="modal-button">
          <button class="modal-add-favorite btn">Add to favorite</button>
          <button class="modal-give-rating btn">Give a rating</button>
        </div>
      </div>
    </div>
  </div>
</div>
