<section class="popular-recipes">
  <div class="popular-recipes-container">
    <h3 class="popular-recipes-title">Popular recipes</h3>
    <ul class="popular-recipes-list">
      <!-- <li class="popular-recipe-item">
          <div class="popular-recipe-img-wrapper">
            <img src="" alt="popular recipe" class="popular-recipe-img" loading="lazy"/>
          </div>
          <div class="popular-recipe-info">
            <h4 class="popular-recipe-title">French Omelette</h4>
            <p class="popular-recipe-text">
              A French omelette is a simple yet elegant dish made with whisked eggs, butter, salt, and pepper, cooked gently until light and fluffy, then folded over and served for a comforting and refined meal any time of day.
            </p>
          </div>
        </li>
        <li class="popular-recipe-item">
          <div class="popular-recipe-img-wrapper">
            <img src="" alt="popular recipe" class="popular-recipe-img" loading="lazy" />
          </div>
          <div class="popular-recipe-info">
            <h4 class="popular-recipe-title">Squash linguine</h4>
            <p class="popular-recipe-text">
              Squash linguine is a flavorful and nutritious pasta alternative made
              with spiralized squash noodles, paired with a variety of delicious
              sauces and toppings for a satisfying and healthy meal.
            </p>
          </div>
        </li> -->
    </ul>
  </div>
</section>
