<section class="search-section">
  <div class="container">
    <div class="search-form">
      <label for="search-input">Search</label>
      <div class="search-input-wrapper">
        <input
          type="text"
          id="search-input"
          name="search"
          placeholder="Enter text"
          minlength="3"
        />
        <!-- <svg class="search-icon" width="18" height="18">
          <use href=""></use>
        </svg> -->
      </div>
    </div>
    <ul class="filter-list">
      <li class="filter-item">
        <label for="time-select">Time</label>
        <select id="time-select" name="time">
          <option value="">40 min</option>
        </select>
      </li>
      <li class="filter-item">
        <label for="area-select">Area</label>
        <select id="area-select" name="area">
          <option value="">Italian</option>
        </select>
      </li>
      <li class="filter-item">
        <label for="Ingredients-select">Ingredients</label>
        <select id="ingredients-select" name="ingredients">
          <option value="">Tomato</option>
        </select>
      </li>
    </ul>
    <div class="buttons">
      <button class="" type="button">
        <svg class="reset-filter" width="16" heigth="16">
          <use href="./img/icons.svg#x"></use>
        </svg>
      </button>
      <p>Reset the filter</p>
    </div>
  </div>
</section>
