<section class="search-section">
  <h2 class="visually-hidden">Search filter</h2>
  <div>
    <div class="filter-wrapper">
      <form class="search-form-js">
        <div class="search-form">
          <label class="search-titles" for="search-input">Search</label>
          <div class="search-input-wrapper">
            <input
              type="text"
              id="search-input"
              name="search"
              placeholder="Enter text"
              minlength="3"
            />
            <svg
              class="search-icon"
              width="18"
              height="18"
              fill="var(--txt-cl-50-light-theme)"
            >
              <use href="./img/icons.svg#search"></use>
            </svg>
          </div>
        </div>
        <ul class="filter-list">
          <li class="filter-item">
            <label class="search-titles" for="time-select">Time</label>
            <select id="time-select" name="time">
              <option class="option-def-time" selected disabled>0 min</option>
            </select>
          </li>
          <li class="filter-item">
            <label class="search-titles" for="area-select">Area</label>
            <select id="area-select" name="area">
              <option class="option-def-area" selected disabled>Region</option>
            </select>
          </li>
          <li class="filter-item">
            <label class="search-titles" for="ingredients-select"
              >Ingredients</label
            >
            <select id="ingredients-select" name="ingredients">
              <option class="option-def-ingr" selected disabled>Product</option>
            </select>
          </li>
        </ul>
      </form>
    </div>
    <div class="btn-reset-thumb">
      <button class="reset-btn" type="button" aria-label="reset-filter-button">
        <svg class="reset-filter-icon" width="16" height="16">
          <use href="./img/icons.svg#x"></use>
        </svg>
      </button>
      <p class="reset-desc">Reset the filter</p>
    </div>
  </div>
</section>
