/* .hero {
  min-width: 335px;
} */

@media only screen and (min-width: 1440px) {
  .hero-container {
    display: flex;
  }
}

.hero-title {
  color: var(--txt-cl-100-light-theme);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;

  margin: 0 0 14px 0;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 36px;
    margin: 0 0 16px 0;
    max-width: 446px;
  }
}

.hero-title-action {
  color: var(--accent-cl);
  font-style: italic;
  font-weight: 400;
}

.hero-desc {
  max-width: 445px;
  color: var(--txt-cl-100-light-theme);
  font-size: 14px;

  font-weight: 400;
  line-height: 18px;
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .hero-desc {
    font-size: 16px;
    margin: 0 0 32px 0;
  }
}

.hero-btn {
  font-size: 14px;

  padding: 10px 20px;

  border-radius: 12px;
  border: 1px solid var(--accent-cl);

  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .hero-btn {
    margin-bottom: 64px;
    padding: 14px 28px;
  }
}

.hero-rigth {
  overflow: hidden;
}

/* @media (hover: hover) {
  .btn:hover,
  .bth:focus {
  }
}

@media not (hover: hover) {
  .btn:active {
  }
} */

/* div {
  overflow-x: hidden;
} */

/* swiper */

.swiper {
  width: 600px;
  height: 300px;
  overflow: hidden;
}

.hero-swiper-slide {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  height: 280px;

  max-height: 305px;
  white-space: nowrap;
  overflow-x: auto;
}

.chef {
  height: 280px;
}
@media only screen and (min-width: 768px) {
  .chef {
    /* height: 442px; */
  }
}
@media only screen and (min-width: 1440px) {
  .chef {
    /* height: 442px; */
  }
}

.chef-image {
  max-width: 100%;
  height: 100%;

  border-radius: 15px;
  border: 1px solid var(--accent-cl);
  color: var(--txt-cl-100-light-theme);
  object-fit: cover;
}
.hero-preview {
  width: 200px;
  height: 280px;
  color: var(--txt-cl-100-light-theme);
  /* background-image: url(../hero-img/green-elips.png); */
  border-radius: 15px;
  border: 1px solid var(--accent-cl);
  background-color: var(--txt-cl-100-light-theme);
}

@media only screen and (min-width: 768px) {
  .hero-previe {
    width: 351px;
    height: 442px;
  }
}

.preview-image {
  padding: 56px 22px 20px 22px;
}

@media only screen and (min-width: 1440px) {
  .preview-image {
  }
}
.hero-swiper-title {
  color: rgba(248, 248, 248, 0.6);
  font-size: 10px;
  text-align: center;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  padding: 0 30px 8px 30px;
  white-space: normal;
  width: 200px;
}
.hero-swiper-desc {
  color: rgba(248, 248, 248, 0.2);
  font-size: 8px;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
}
.hero-dish {
  height: 280px;
  border-radius: 15px;
  border: 1px solid rgba(155, 181, 55, 0.3);
  color: var(--txt-cl-100-light-theme);
  overflow: hidden;
}
.dish-image {
  max-width: 100%;
  height: auto;

  border-radius: 15px;
  border: 1px solid var(--accent-cl);
  color: var(--txt-cl-100-light-theme);
}
