.popular-recipes {
  padding-bottom: 40px;
  padding-top: 40px;
}

.popular-recipes-title {
  color: var(--txt-cl-100-light-theme);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.popular-recipes-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 154px;
  overflow-y: hidden;
}

.popular-recipe-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.popular-recipe-img {
  max-width: 64px;
  min-height: 64px;
  border-radius: 8px;
}

.popular-recipe-info {
  display: flex;

  flex-direction: column;

  gap: 8px;
}

.popular-recipe-title {
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0;
}

.popular-recipe-text {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;

  overflow: hidden;
  color: var(--txt-cl-80-light-theme);
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  width: 252px;
}

@media only screen and (min-width: 768px) {
  .popular-recipes {
    /* margin-left: 32px; */
    width: 176px;
    padding: 0;
  }

  .popular-recipes-title {
    margin-bottom: 32px;
  }

  .popular-recipes-list {
    gap: 16px;
    overflow-y: auto;
    height: auto;
  }

  .popular-recipe-title {
    text-wrap: nowrap;
    width: 120px;
    overflow: hidden;
  }
  .popular-recipe-item {
    gap: 8px;
  }

  .popular-recipe-img {
    max-width: 48px;
    min-height: 48px;
  }

  .popular-recipe-text {
    width: 120px;
    font-size: 10px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
  }
}

@media only screen and (min-width: 1280px) {
  .popular-recipes {
    width: 235px;
    /* margin-left: 100px; */
  }
  .popular-recipes-title {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .popular-recipes-list {
    gap: 32px;
  }
  .popular-recipe-item {
    gap: 16px;
  }

  .popular-recipe-img {
    max-width: 64px;
    min-height: 64px;
  }

  .popular-recipe-text {
    width: 155px;
    color: var(--txt-cl-80-light-theme);
  }
}
