/* Reset styles */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.29;
  color: var(--txt-cl-100-light-theme);
}

.container {
  /*Basic styles*/
  min-width: 320px;
  max-width: 375px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  margin: 0 auto;
  /* border: 1px solid teal; */
}

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 28px;
    padding-right: 32px;
    padding-bottom: 0;
    padding-left: 32px;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 100px;
    padding-left: 99px;
  }
}

.btn {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  padding: 14px 28px 14px 28px;

  transition: background-color 250ms var(--timing-function);

  /* color: var(--txt-cl-100-light-theme); */
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--accent-cl);
  color: var();
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |====================================
  |                   Сітки
  |====================================
*/

.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-horizontal);
  column-gap: var(--indent-vertical);
}

.card-sed-item {
  flex-basis: calc(
    (100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items)
  );
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  right: 0;
  bottom: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-cl-modal-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: stroke 250ms var(--timing-function);
}

.modal-close-svg {
  stroke: var(--cl-number-pages);
}
