/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('../../node_modules/normalize.css/normalize.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero-section.css');
@import url('../../node_modules/swiper/swiper-bundle.css');
@import url('./categories-section.css');
@import url('./search-section.css');
@import url('./cards-section.css');
@import url('./popular-recipe.css');
@import url('./modal-new-order.css');
@import url('./modal-full-recipe.css');
@import url('./modal-rating.css');
@import url('./favorites-page.css');
@import url('./footer.css');
@import url('./home.css');

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400, 500, 600;
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap);
}


:root {
  --font-family: Inter, sans-serif;

  /*txt-color*/
  --txt-cl-100-light-theme: rgb(5, 5, 5);
  --txt-cl-80-light-theme: rgba(5, 5, 5, 0.8);
  --txt-cl-50-light-theme: rgba(5, 5, 5, 0.5);
  --txt-cl-30-light-theme: rgba(5, 5, 5, 0.3);
  --secondary-txt-cl-100-light-theme: rgba(248, 248, 248, 1);

  --txt-cl-100-dark-theme: rgba(255, 255, 255, 1);
  --txt-cl-80-dark-theme: rgba(255, 255, 255, 0.8);
  --txt-cl-50-dark-theme: rgba(255, 255, 255, 0.5);
  --txt-cl-30-dark-theme: rgba(255, 255, 255, 0.3);

  /*color*/
  --accent-cl: rgb(155, 181, 55);
  --bg-cl-light-theme: rgb(248, 248, 248);
  --bg-cl-dark-theme: rgb(22, 22, 22);
  --bg-cl-modal-bg: rgb(255, 255, 255);

  --border-light-theme: rgba(5, 5, 5, 0.2);
  --border-dark-theme: 1px solid rgba(255, 255, 255, 0.2);

  --cl-number-pages: rgb(5, 5, 5);
  --cl-rating: rgb(238, 161, 12);

  /*сітка картинок*/
  --indent-horizontal: 32px;
  --indent-vertical: 16px;
  --items: 1;

  /*анімація*/
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
